* text=auto

*.cpp text eol=lf
*.hpp text eol=lf
*.h text eol=lf
*.cc text eol=lf

*.sh text eol=lf
*.py text eol=lf
*.txt text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf

*.png binary
*.jpg binary
*.db binary